*,
*::before,
*::after {
  box-sizing: border-box;
}

.gameboard {
  background: blanchedalmond;
  width: 80vw;
  height: 80vh;
  display: none;
  margin: 2em auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.cell {
  border: 1px solid burlywood;
  padding: 1rem;
  text-align: center;

}